


.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0rem 2rem 0rem;
        .imagesContainer {
          
            img {
                border-radius: 5px;
            }
        }
        .textContainer {
            width: clamp(10rem, 30rem, 70%);
            display: flex;
            flex-direction: column;
            align-items: center;
         
            h1 {
                margin-bottom: 0;
                border-bottom:  3px solid #EBB45E;
                font-size: 2rem;
                font-weight: 400;
                color: #373737;
                width: 185px;
                align-self: flex-start;
            }
            p {
                font-size: 1.4rem;
                font-weight: 400;
                color: #373737;
              
            }
        }
}