


.container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 1rem 0rem 2rem 0rem;
        overflow-x: hidden;
        .imagesContainerMobile {  
           height: 250px;
           width: 350px;
           position: relative;
            img {
                position: absolute;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto; 
                z-index: 0;
            }
            .chevronRight, .chevronLeft {
                position: absolute;
                z-index: 99;
                height: 36px;
                width: 36px;
                border-radius: 50%;
                background-color: #f5f5f5c3;
                top: 0;
                bottom: 0;
                margin: auto; 
                display: flex;
                align-items: center;
            }
            .chevronLeft {
                left: 10px; 
            }
            .chevronRight {
                right: 10px;
            }
        }
        .imagesContainerDesktop {
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            justify-content: center;
        }
        .textContainer {
            width: clamp(10rem, 40rem, 70%);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            h1 {
                margin-bottom: 0;
                border-bottom:  3px solid #EBB45E;
                font-size: 2rem;
                font-weight: 400;
                color: #373737;
                width: 185px;
                align-self: flex-start;
            }
            p {
                font-size: 1.4rem;
                font-weight: 400;
                color: #373737;
              
            }
        }
}

@media (max-width : 875px){
    .container {
        .imagesContainerDesktop {
            display: none;
        }
    }
}

@media (min-width : 875px) {
    .container {
        padding-top: 3rem;
        gap: 5rem;
        .imagesContainerMobile {
            display: none;
        }
        .textContainer {
            flex-direction: row;
            width: 80rem;
            gap: 6rem;
            h1 {
                width: fit-content;
                font-size: 2.4rem;
                width: 340px;
            }
            p {
                
                width: fit-content;
                max-width: 800px;
                font-size: 1.6rem;
            }
        }
    }
}

@media (min-width:1340px) {
    .container {
        padding-top: 4rem;
        padding-bottom: 5rem;
        gap: 6rem;
        .textContainer {
            width: 120rem;
            gap: 10rem;
            h1 {
                font-size: 2.8rem;
                width: 260px;
            }
            p {
                font-size: 2rem;
            }
        }
    }
}