

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
   margin-top: 5rem;
   margin-bottom: 5rem;
   div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
   }
   p {
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: #373737;
    text-align: center;
   }
   .yellowLine {
    background-color: #EBB45E;
    width: clamp(20rem, 80%, 32rem);
    height: 3px;
    }
    .button {
        max-width: 200px;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
        background-color: #977045;
        color: #FFFFFF;
        border-radius: 5px;
        padding: 6px 12px 6px 12px;
        font-size: 1.4rem;
        font-weight: 400;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .button:hover {
        background-color: #B58F65;
    }
}



@media (min-width: 768px){
    .container {
        flex-direction: row;
        height: 200px;
        justify-content: center;
        gap: 4rem;
        .yellowLine {
            height: 160px;
            width: 3px;
        }
        div {
            width: 200px;
            p {
                font-size: 1.6rem;
            }
            .button {
                font-size: 1.6rem;
            }
        }
    }
}