

.container {
    width: clamp(20rem, 80%, 40rem);
    form {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        input {
            border: 1px solid #8A8A8A;
            border-radius: 5px;
            height: 3.6rem;
            width: 100%;
            box-sizing: border-box;
            padding-left: 1rem;
            font-family: 'Poppins';
            font-size: 1.4rem;
        }
        input::placeholder {
            font-size: 1.4rem;
            color: #6F6F6F;
            font-family: 'Poppins';
            letter-spacing: 0.7px;
        }
        p {
            margin-bottom: 0;
        }
    
            .textarea {
                background: #FFFFFF;
                border: 1px solid #8A8A8A;
                border-radius: 5px; 
                height: 13rem ;
                padding: 0.5rem 1rem 0.5rem 1rem;
                font-family: 'Poppins';
            }
            .textarea::placeholder {
                font-size: 1.4rem;
                color: #6F6F6F;
                font-family: 'Poppins';
                letter-spacing: 0.7px;
            }
        .button {
            background: #977045;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            color: #ffffff;
            height: 3.2rem;
            font-size: 1.6rem;
            border: none;
            width: 100%;
            font-weight: 400;
            font-family: 'Poppins';
            height: 32px;
        }
        .button:hover {
            background-color: #B58F65;;
        } 
    }
}


@media (min-width: 968px) {
    .container {
        grid-row: 2/4;
        grid-column: 3/3;
        justify-self: center;
        width: clamp(20rem, 100%, 50rem);
    }
}

@media (min-width: 1328px){
    .container {
        width: clamp(20rem, 100%, 60rem);
        grid-column: 3/4;
        form {
            gap: 2.4rem;
            input {
                height: 4rem;
                font-size: 1.6rem;
            }
            input::placeholder {
                font-size: 1.6rem;
            }
            .button {
                font-size: 2rem;
                height: 4rem;
            }
            .textarea {
                height: 16rem;
            }
            .textarea::placeholder {
                font-size: 1.6rem;
            }
        }
        
    }
}