


.container {
    background-color: #FCF2EA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    p {
        margin-bottom: 0;
        font-size: 1.2rem;
    }
    div {
        display: flex;
        gap: 2rem; 
    }
}



@media (min-width : 900px) {
    .container {
        flex-direction: row;
        height: 8rem;
        justify-content: center;
        gap: 7rem;
        p {
            font-size: 1.4rem;
        }
    }
}
@media (min-width : 1300px) {
   .container {
    gap: 20rem;
   }
}