


.header {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: #FCF2EA;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    a {
        display: flex;
    .logoTextContainer {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        justify-content: center;
        margin-left: -14px;
        h1 {
            margin: 0;
            font-size: 2rem;
            font-weight: 200;
            letter-spacing: 1px;
            text-align: center;
        }
        p {
            font-size: 0.8rem;
            letter-spacing: 1px;
            font-weight: 300;
            margin: 0;  
        }
    }
}
}




