




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 10rem;
    h1 {
        font-size: 2rem;
        font-weight: 400;
        border-bottom: 3px solid #EBB45E;
        width: fit-content;
    }
    p {
        font-size: 1.6rem;
    }
}