

.background {
    position: relative;
   
}
.imageContainer {
    position: fixed;
    height: 95%;
    width: 100%;
    top: 0;
}


.headline {
    position: absolute;
    width: 20rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 6rem;
    right: 0;
    color: #373737;
}

.buttonsContainer {
    width: 100%;
    bottom: 10%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.bookAppointment, .readMore {
    background-color: #977045;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: 1.6rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}






@media screen and (max-width: 475px) {
    .desktop {
      display: none;
    }
    .tablet {
        display: none;
      }
  }
  
@media screen and (min-width: 475px) {
   .mobile {
    display: none;
   }

  }


  
@media screen and (min-width: 800px) {
    .tablet {
        display: none;
    }
}